    {% extends "blog/base.html" %}
{% block content %}
      <div class="container">
        <h1 style="text-align:center">Blog About Page!</h1>
        <p>This is the about section of this blog web application created by Abhishek Kumar.
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga aspernatur nulla, 
           optio cumque praesentium illo vitae. Labore ab, iste quasi quidem minus illum maiores repellendus, 
           commodi dolorum numquam harum animi?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Incidunt doloremque sed vel minus tempora soluta eaque cumque voluptate labore libero commodi esse,
            quidem est, eligendi eius beatae id laborum sequi.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error atque veniam magni perferendis, 
           facilis delectus amet eius tempora provident! Dolorem necessitatibus pariatur facere delectus non! 
           Veniam recusandae quod est.
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga aspernatur nulla, 
           optio cumque praesentium illo vitae. Labore ab, iste quasi quidem minus illum maiores repellendus, 
           commodi dolorum numquam harum animi?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Incidunt doloremque sed vel minus tempora soluta eaque cumque voluptate labore libero commodi esse,
            quidem est, eligendi eius beatae id laborum sequi.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error atque veniam magni perferendis, 
           facilis delectus amet eius tempora provident! Dolorem necessitatibus pariatur facere delectus non! 
           Veniam recusandae quod est.
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga aspernatur nulla, 
           optio cumque praesentium illo vitae. Labore ab, iste quasi quidem minus illum maiores repellendus, 
           commodi dolorum numquam harum animi?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Incidunt doloremque sed vel minus tempora soluta eaque cumque voluptate labore libero commodi esse,
            quidem est, eligendi eius beatae id laborum sequi.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error atque veniam magni perferendis, 
           facilis delectus amet eius tempora provident! Dolorem necessitatibus pariatur facere delectus non! 
           Veniam recusandae quod est.
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga aspernatur nulla, 
           optio cumque praesentium illo vitae. Labore ab, iste quasi quidem minus illum maiores repellendus, 
           commodi dolorum numquam harum animi?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Incidunt doloremque sed vel minus tempora soluta eaque cumque voluptate labore libero commodi esse,
            quidem est, eligendi eius beatae id laborum sequi.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error atque veniam magni perferendis, 
           facilis delectus amet eius tempora provident! Dolorem necessitatibus pariatur facere delectus non! 
           Veniam recusandae quod est.
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga aspernatur nulla, 
           optio cumque praesentium illo vitae. Labore ab, iste quasi quidem minus illum maiores repellendus, 
           commodi dolorum numquam harum animi?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Incidunt doloremque sed vel minus tempora soluta eaque cumque voluptate labore libero commodi esse,
            quidem est, eligendi eius beatae id laborum sequi.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error atque veniam magni perferendis, 
           facilis delectus amet eius tempora provident! Dolorem necessitatibus pariatur facere delectus non! 
           Veniam recusandae quod est.

        </p>
      </div>
{% endblock content %}    
    


